.container {
  width: 80vw;
  box-shadow: wheat 0px 0px 8px 11px;
  border-radius: 15px;
  margin-top: 50px;
}

.box {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "text-place image-place";
}

a {
  text-decoration: none;
  color: wheat;
}

.image {
  grid-area: image-place;
  display: flex;
  justify-content: center;
}

img {
  max-width: 150px;
  height: auto;
  padding: 10px;
  border-radius: 18px;
}

.text {
  grid-area: text-place;
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
}

.text h1 {
  font-size: 30px;
}

.text label {
  font-size: 20px;
}
